<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a onclick="location.href = getLinkBase('sk-SK')">Home</a></li>
                    <li class="">@Html.ActionLink("Je zajtra piatok?", "IsFridayTomorrow", "Home")</li>
                   

                    @*    <li class=""><a onclick="location.href = getLink2Base()">Je zajtra piatok?</a> </li>*@
                    
                    
    @*

        <li><a onclick="location.href = getLink('sk-SK', 120)">Bratislava</a></li>
    <li class=""><a onclick="location.href = getLink2(120)">Je zajtra piatok v Bratislave</a> </li>
    <li><a onclick="location.href = getLink('en-US', -600)" >Tahiti</a></li>
    <li class=""><a onclick="location.href = getLink2(-600)">Je zajtra piatok na Tahiti</a> </li>
    <li><a onclick="location.href = getLink('en-NZ', 720)" >Auckland</a></li>
    <li class=""><a onclick="location.href = getLink2(720)">Je zajtra piatok v Aucklande</a> </li>
                    *@

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - TimeBuddy - SpecPage</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
<script>
    function getLinkBase(culture) {
        var offset = -1 * new Date().getTimezoneOffset();
        return getLink(culture, offset);

    }

    function getLink(culture, offset) {
        return "/?timeZoneOffset=" + offset + "&culture=" + culture ;
    }

    function getLink2Base() {
        var offset = -1 * new Date().getTimezoneOffset();
        return getLink2(offset);
    }

    function getLink2(offset) {
       
        return "/Home/IsFridayTomorrow/?timeZoneOffset=" + offset ;
    }

</script>
</body>
</html>
